body {
    background-image: url('Images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .game-area {
    width: 90%;
    height: 94vh;
}

  .car {
    background-image: url('Images/car8.png');
    width: 82px;
    height: 95px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(60%);
  }

  